@use "../abstracts/variables" as *;
$bg-color-light: #61a0fd;
.button {
  background-color: $main-color-blue;
  color: white;
  padding: 16px 32px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    background-color: $bg-color-light;
  }
}
